<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ING.Assignment.TodayWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>ING.Assignment.Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ING.Assignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ING.AssignmentTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ING.AssignmentUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA0C492D1E4E403500D6E89B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA0C49411E4E403500D6E89B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA0C494C1E4E403500D6E89B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAD581F91E4FD2620072669C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAD7BDF31E5072C20069E6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
